*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #d5dbda;
    position: relative;
   
}

header{
    height:100px;
    background-color: #009688;
}

#app{
    position: absolute;
    width: 80%;
    height: 550px;
    border: solid 1px white;
    top: 20px;
    left: 10%;
    display: flex;
    
}

.border{
    border: dotted 2px red;
}

.contatti{
    width: 35%;
    height: 100%;
    border-right: 1px solid black;
}
.chat{
    width: 65%;
    height: 100%;
    background-image: url('../img/mine.jpg');
    position: relative;
}

.flex{
    display: flex;
}

.user{
    background-color: #eaeaea;
    height: 10%;
    padding: 3px;
    justify-content: space-between;
}
.userChat{
    background-color: #eaeaea;
    height: 10%;
    padding: 3px;
    justify-content: space-between;
}
.profilo{
    height: 100%;
    border-radius: 50%;
    margin-left: 5px;
}
#nome{
    align-items: center;
    font-size: 15px;
    margin-left: 10px;
    font-weight: bold;
}
.menuUser{
    color: #b1b1b1;
    align-items: center;
}

.icon{
    margin-right: 15px;
}

.notifiche{
    height: 10%;
    background-color: #8edafc;
    align-items: center;
    padding: 3px;
    
}

.iconNotifica{
    background-color: white;
    color: #8edafc;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    margin-left: 5px;
    justify-content: center;
    align-items: center;
    margin-right: 10px;

}

.NotificheOn p{
    font-size: 13px;
}
.NotificheOn a{
    font-size: 10px;
    color: black;
}

#search{
    height: 8%;
    background-color:#fafafa;
    padding: 5px;
}
#cerca{
    height: 30px;
    width: 16%;
    background-color: white;
    border: 1px solid lightgrey;
    color: #b1b1b1;
}
#cerca_contatto{
    width:84% ;
    border: 1px solid lightgrey;
    border-left: none;
    padding: 5px;
    color: #b1b1b1;
}

.newMessage{
    height: 10%;
    width: 100%;
    background-color:#f3eeea ;
    position: absolute;
    bottom: 0;
    padding: 5px, 10px, 5px, 10px;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.smile{
    margin-left: 20px;
    font-size: 20px;
}
.messageText{
   width: 80%;
   height: 90%;
}

#writeMessage{
    width: 100%;
    border: none;
    height: 100%;
    border-radius: 5px;
    padding: 5px;
}

.audio{
    margin-right: 20px;
}

.allChat{
    height: 15%;
    padding: 5px;
    background-color: white;
    flex-wrap: wrap;
}

.fotoProfilo{
    border-radius: 50%;
    height: 45px;
}

.picprofilo{
    width: 20%;
}
.containercontatto{
    width: 80%;
}
#lastmessage{
    font-size: 12px;
    margin-top: 5px;
    color: #b1b1b1;
}

.containerChat{
    max-height: 72%;
    overflow: scroll
}